.game-layout-container {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layout-main {
  width: 100%;
  height: 100%;
}

.layout-menu,
.layout-info,
.layout-sidebar {
  pointer-events: none;
}

.layout-menu > *,
.layout-info > *,
.layout-sidebar > * {
  pointer-events: auto;
}

.dialogue-overlay-container {
  align-items: flex-end;
  background-color: transparent;
  pointer-events: none;
}

.dialogue-overlay-container > * {
  pointer-events: auto;
}

@media (min-width: 768px) {
  .game-layout-container {
    display: grid;
    grid-template-areas:
      "menu main-content info"
      "menu main-content sidebar";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
  }

  .layout-menu {
    grid-area: menu;
    z-index: 50;
  }

  .layout-info {
    grid-area: info;
    z-index: 20;
  }

  .layout-sidebar {
    grid-area: sidebar;
    z-index: 30;
  }

  .layout-main {
    grid-area: main-content;
    position: relative;
    overflow: hidden;
  }
}
