<div class="title-screen">
  <div class="title-background"></div>
  <div class="title-overlay"></div>

  <div class="title-content fade-in-slow">
    <div class="logo-container">
      <h1 class="game-title">{{ getText('titleGameName') }}</h1>
      <p class="game-subtitle">{{ getText('titleSubtitle') }}</p>
    </div>

    <div class="title-menu glass-panel glass-panel--shell">
      <button class="btn-menu btn-menu--primary" (click)="newGame()">
        <img src="/assets/icons/talk.svg" alt="" class="btn-icon">
        <span>{{ getText('titleNewGame') }}</span>
      </button>

      <button class="btn-menu" (click)="loadGame()" [disabled]="!canLoadGame()">
        <img src="/assets/icons/gear.svg" alt="" class="btn-icon">
        <span>{{ getText('titleLoadGame') }}</span>
      </button>

      <button class="btn-menu disabled-link">
        <img src="/assets/icons/craft.svg" alt="" class="btn-icon">
        <span>{{ getText('options') }}</span>
      </button>
    </div>

    <div class="title-footer">
      <span class="version-tag">{{ getText('titleVersion') }}</span>
      <span class="copyright">{{ getText('titleCopyright') }}</span>
    </div>
  </div>
</div>
